.page__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5vw;
  margin-top: 2.5vw;
  background-color: #ececec;
  border-radius: 2.5vw;
  padding: 4vw 5vw 2.5vw 5vw;
}

.page__form__block {
  display: flex;
  align-items: center;
  gap: 2vw;
  position: relative;
}

.page__form__block__legend {
  width: 100%;
  font-style: italic;
  font-weight: bold;
  color: #93ad18;
  text-align: center;
  position: absolute;
  top: -2vw;
}

.page__form__block__input,
.page__form__block__select {
  min-width: 12.5vw;
  padding: 0.5vw;
  border: none;
  border-radius: 2.5vw;
}

.page__form__submit {
  background-color: #ffffff;
  font-size: 1vw;
  font-weight: bold;
  color: #93ad18;
  border: none;
  border-radius: 2.5vw;
  padding: 0.75vw 1.5vw;
  transform: scale(1);
  transition: all 0.3s ease-out;
}

.page__form__submit:hover {
  background-color: #93ad18;
  color: #ffffff;
  transform: scale(0.9);
}
